* {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: block;
  position: relative;
  width: calc(100% - 40px);
  max-width: 374px;
  min-height: 100%;
  margin: 0 auto;
  @include breakpoint(medium) {
    width: 100%;
    max-width: 688px;
  }
  
  @include breakpoint(large) {
    width: 100%;
    max-width: 1230px;
  }
}

ul , li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}